<footer>
  
  <div class="container-fluid">
    {% include contact.html %}
  </div>

  {% include map.html %}
  
  <div class="container-fluid">
    <div class="row">

      <div class="col-12 col-sm-3">
        <p class="left">{{ site.author_name | escape }} © 2017 | <a href="{{ "/mentions-legales" | relative_url }}">Mentions légales</a></p>
      </div>

      <div class="col-12 col-sm-3 ml-auto">
        <p class="right">Développé par <a href="{{ site.developer.github }}" target="_blank">{{ site.developer.name }}</a></p>
      </div>

    </div>
  </div>

</footer>
