<div class="container half-padding {{ page.cssClass}}">
    {% assign filtered_collection = site.collections | where: "label" , "realisations" %}
    {% assign filters = "" | split: "" %}

    {% for collection in filtered_collection %}
        {% assign sorted_realisations = collection.docs | sort: "date" | reverse %}
        {% for real in sorted_realisations %}
            {% if real.category  %}
                {% unless filters contains real.category %}
                    {% assign filters = filters | push: real.category %}
                {% endunless %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h2>{{ page.head }}</h2>
                    <p>
                        Filtres : <a href="" :class="{ 'd-none': !galleryFiltered }" @click.stop.prevent="galleryFilter('reset')"><i class="fa fa-refresh"></i></a> {% for filtre in filters %}<a href="" @click.stop.prevent="galleryFilter('{{ filtre }}')">{{ filtre }}</a>{% endfor %}
                    </p>
                </div>
            </div>
            <div class="row">
                {% for collection in filtered_collection %}
                    {% assign sorted_realisations = collection.docs | sort: "date" | reverse %}
                    {% for real in sorted_realisations limit:6 %}
                    <div class="col-12 col-sm-4" data-filter="{{ real.category }}">
                        <div class="thumbnail">
                            <a href="{{ real.url }}">
                                <div class="thumbnail-overlay"></div>
                                <img class="thumbnail-image" src="{{ real.thumbnail | relative_url }}" alt="{{ real.title }}">
                                <div class="thumbnail-details fadeIn-top">
                                    <h3>{{ real.title }}</h3>
                                    <p>{{ real.description }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="{{ '/realisations/' | relative_url }}">Voir toutes les réalisations &nbsp;<i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>